.home_container{
    width: 100vw;
    height: 100vh;
    display: grid;
    overflow-y: scroll;
    .list_box{
        max-width: 800px;
        width: 100%;
        height: 100%;
        margin: auto;
        box-sizing: border-box;
        padding: 1rem;
        .list_title{
            font-size: 3rem;
            font-weight: bold;
            padding: 1rem;
        }
        .list_container{
            .item_container{
                text-align: left;
                padding: 1rem;
                border-bottom: 1px solid rgb(48, 48, 48);
                display: flex;
                align-items: center;
                justify-content: space-between;
                &:hover{
                    background-color: rgb(26, 26, 26);
                }
                .item_title{
                    font-size: 1.4rem;
                    display: flex;
                    gap: 10px;
                    align-items: center;
                }
            }
            .item_expand{
                display: flex;
                flex-direction: column;
                align-items: start;
                padding: 1rem;
                margin-bottom: 2rem;
                .card_container{
                    width: 100%;
                    display: flex;
                    gap: 1rem;
                    flex-wrap: wrap;
                    p{
                        color: gray;
                        font-size: 1.5rem;
                    }
                }
                .category_container{
                    width: 100%;
                    margin-bottom: 1rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    ul{
                        width: 60%;
                        display: flex;
                        flex-wrap: wrap;
                        gap: 0.6rem;  
                        .category_item{
                            width: max-content;
                            padding: 3px 12px;
                            font-size: 0.9rem;
                            border: 1px solid white;
                            border-radius: 8px;
                            cursor: pointer;
                        }
                    }
                    .size_container{
                        display: flex;
                        align-items: end;
                        gap: 0.6rem;
                        margin-right: 1rem;
                        .size_title{
                            font-size: 0.8rem;
                        }
                        select{
                            padding: 2px 4px;
                            background-color: black;
                            color: white;
                            border: 1px solid white;
                            border-radius: 4px;
                        }
                    }
                }
                .item_expand_card{
                    min-width: 23%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    background-color: rgb(36, 36, 36);
                    border: 1px solid rgb(56, 56, 56);
                    border-radius: 12px;
                    padding: 1rem;
                    gap: 0.5rem;
                    .icon_container{
                        width: 3rem;
                        height: 3rem;
                        border-radius: 30%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        // background-color: rgb(112, 7, 112);
                        i{
                            font-size: 1.5rem;
                        }
                    }
                    .item_details{
                        display: flex;
                        align-items: center;
                        gap: 2px;
                        i{
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
    .category_active{
        background-color: rgb(225, 225, 225);
        color: black;
    }
    .download_btn{
        color: rgb(225, 255, 239);
        background-color: rgb(2, 110, 2);
        padding: 3px 12px;
        border-radius: 6px;
        font-size: 0.8rem;
        display: flex;
        gap: 6px;
        cursor: pointer;
        i{
            font-size: 0.6rem;
        }
        &:hover{
            background-color: rgb(35, 133, 10);
        }
    }
}

@media (max-width: 800px) {
    .home_container{
        .list_box{
            .list_container{
                .item_expand{
                    padding: 0.5rem;
                    .item_expand_card{
                        min-width: 48%;
                    }
                    .category_container{
                        flex-direction: column;
                        gap: 10px;
                        ul{
                            width: 100%;
                            justify-content: center;
                        }
                    }
                    .card_container{
                        gap: 0.5rem;
                    }
                }
            }
        }
    }
}
